<%if !user_signed_in?%>   
<div class="jumbotron">
<h1 class="display-5">WECODE-4U</h1>
<p class="lead">Our page intro.</p>

<div class="bd-example">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
<div class="carousel-item active">

<%=image_tag ("laptop.jpg"), style:"width:300px;height:600px;", class:"d-block w-100", alt:"..."%>
<div class="carousel-caption d-none d-md-block">

</div>
</div>
<div class="carousel-item">
<%=image_tag ("ruby.jpg"), style:"width:300px;height:600px;", class:"d-block w-100", alt:"..."%>
<div class="carousel-caption d-none d-md-block">

</div>
</div>
<div class="carousel-item">
<%=image_tag ("laptop2.jpg"), style:"width:300px;height:600px;", class:"d-block w-100", alt:"..."%>
<div class="carousel-caption d-none d-md-block">

</div>
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
</div>
</div>


<% @posts.each do |post| %>
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
 <div class =>
<h5 class="card-title"><%=post.title%></h5>
<p class="card-text"><%=post.description%></p>
 </div>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
<%if @posts == 3%>
<%break%>
<%end%>
<%end%>
<%# need a condition for limiting the post %>


 <section class="callToAction" style="padding-top:30px">
    <div class="container">
    <div class="ctaBox">
    <div class="col-lg-9">
    <h1>Wecode-4u is here to help you!</h1>
    </div>
    <div class="col-lg-3">
    <a href="ContactUs" class="buttonColor" style="float:right;">
    CONTACT-US</a>
    </div>
    <div styel="clear:both;"></div>
    </div>
    </div>
    </section>


<%elsif user_signed_in?%>

<div>
 <h1>Home</h1>
 </div>

 <div>
  <%=link_to "Add Post", new_post_path %>
 </div>

 <% @posts.each do |post| %>
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
 <div class =>
<h5 class="card-title"><%=post.title%></h5>
<p class="card-text"><%=post.description%></p>
 </div>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
<%end%>

 
<%end%>

















    