<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
<div>
<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :description %>
  </p>
 <p>    <%= form.text_field :tag %> </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
